
@{
    ViewData["Title"] = "Home";
}

<div class="container" style="border-right-width:thin">
    <div class="row">
        <div class="col-5">
            <h3>Layton Utah Temple Tours</h3>
            <h6>Dear tour guests</h6>

            <p>
                We appreciate you and thank you for taking an interest in visiting the construction of the Layton temple.
                Tours are limited. Because we are trying to facilitate as many groups as possible, make sure you can commit
                to the time you sign up for.
            </p>
            <br />
            <p>
                They will be removing the visitors center soon so that they can complete the landscaping.
                When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street.
            </p>
            <br />
            <h6>General Instructions</h6>
            <p>
                Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.
                Dress casual, except on Sunday.
            </p>
            <br />
            <h6>Additional Information</h6>
            <ul>
                <li>Spanish speaking tours are available by request</li>
                <li>Saturday tours are also available by request</li>
                <li>Wear sturdy shoes for the outdoor tour</li>
                <li>Masks are required for the trailer tour</li>
            </ul>

        </div>

        <div class="col-4">
            <img src="https://churchofjesuschristtemples.org/assets/img/temples/layton-utah-temple/layton-utah-temple-6932-main.jpg" />
        </div>



    </div>



</div>
