@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="col-1">
        Sunday
    </div>

    <div class="col-1">
        Monday
    </div>

    <div class="col-1">
        Tuesday
    </div>

    <div class="col-1">
        Wednesday
    </div>

    <div class="col-1">
        Thursday
    </div>

    <div class="col-1">
        Friday
    </div>

    <div class="col-1">
        Saturday
    </div>





</body>