@model List<TimeSlot>

<a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary bg-light">Home</a>
<br />
<br />
<div class="d-grid gap-2">

    @foreach (TimeSlot c in Model)
    {
        if (@c.Available == true)
        {
            <a asp-controller="Home" asp-action="Index"
               class="btn">@c.Slot</a><br />
        }
        else
        {
            <a asp-controller="Home" asp-action="Index"
               class="btn btn-block">@c.Slot</a><br />
        }

    }
</div>