@model List<TimeSlot>


<div class="d-grid gap-2">

    @*@foreach (TimeSlot c in Model)
    {
        if (c.Available == true)
        {
            <a asp-controller="Home" asp-action="SignUp" asp-route-timeSlotId="@c.TimeSlotId"
               class="btn btn-outline-primary btn-primary">@c.Slot</a><br />
        }
        else
        {
            <a asp-controller="Home" asp-action="Index"
               class="btn btn-outline-primary btn-primary disabled">@c.Slot</a><br />
        }

    }*@
</div>